<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>-Confirm Page-</h1>
<a href="logout" class="btn large focus">로그아웃</a>
<table id="TABLE1" border="0" cellpadding="0" cellspacing="0" width="1000px" style="margin-top:0px;">
    <td style="padding-right: 0cm; padding-left: 0cm;
            padding-bottom: 0cm; width: 710px; height: 540px;
            padding-top: 0cm; background-color: transparent;
            border-right-color: #ece9d8; vertical-align:top;" id="Td0">
        <table id="table_1" width="100%"	height="800px" class="table classic" style="font-size:30px;">
            <thead height="60px">
            </thead>
            <tbody>
            <tr height="60px">
                <th width="25%">
                    할인처
                </th>
                <td>
                    <input name='ClName' id='eClName' type="type" value = "아이트로" class="input" size="17" style="font-size:30px;width:505px;height:50px;line-height:40px;background:white;"readonly/>

                    <!--아이트로-->
                </td>
            </tr>
            <tr height="60px">
                <th>
                    차량번호
                </th>
                <td>
                    <input name='CarNumber' id='eCarNumber' type="type" th:value="${carNum}" class="input" size="17" style="font-size:30px;width:505px;height:50px;line-height:40px;background:white;"/>
                </td>
            </tr>
            <tr height="60px">
                <th>
                    입차일시
                </th>
                <td>
                    <input name='EntDyTe' id='eEntDyTe' type="type" th:value="${carDate}" class="input" size="17" style="font-size:30px;width:505px;height:50px;line-height:40px;background:white;"readonly/>
                </td>
            </tr>
            <tr height="60px">
                <th>주차시간</th>
                <td>
                    <input name='ParkingTime' id='eParkingTime' th:value = "${parking_while}+'일'" type="type" class="input" size="17" style="
                    font-size:30px;width:505px;height:50px;line-height:40px;background:white;"readonly/>
                </td>
            </tr>
            <tr height="60px">
                <th>
                    시간할인등록 :
                </th>
                <td>
                    <a href="discount_time?time=1">1시간</a>
                    <a href="discount_time?time=2">2시간</a>
                    <a href="discount_time?time=3">3시간</a>
                    <br/>
                </td>
            </tr>
            <tr height="60px">
                <th>
                    환자명
                </th>
                <td>
                    <input name='UserName' id='eUserName' type="type" class="input" size="17" style="font-size:30px;width:505px;height:50px;line-height:40px;"/>
                </td>
            </tr>
            <tr height="60px">
                <th>
                    환자병동
                </th>
                <td>
                    <input name='PcLDuty' id='ePcLDuty' type="type" class="input" size="17" style="font-size:30px;width:505px;height:50px;line-height:40px;"/>
                </td>
            </tr>
            <tr height="60px">
                <th>
                    전화번호
                </th>
                <td>
                    <input name='PcLTel' id='ePcLTel' type="type" class="input" size="17" style="font-size:30px;width:505px;height:50px;line-height:40px;"/>
                </td>
            </tr>
            <tr height="60px">
                <th>
                    입원날짜
                </th>
                <td>
                    <input name='InDate' id='eInDate' type="type" class="input" size="17" style="font-size:30px;width:505px;height:50px;line-height:40px;"/>
                </td>
            </tr>
            <tr height="60px">
                <th>
                    퇴원날짜
                </th>
                <td>
                    <input name='EdDte' id='eEdDate' type="type" class="input" size="17" style="font-size:30px;width:505px;height:50px;line-height:40px;"/>
                </td>
            </tr>

            <tr height="60px">
                <th>
                    비고
                </th>
                <td>
                    <input name='DCMemo' id='eDCMemo' type="type" class="input" size="17" style="font-size:30px;width:360px;height:50px;line-height:40px;"/>
                    <a class="large btn" style="font-size:25px;width:130px;height:50px;line-height:40px;text-align:center;" id="btn7" onclick="add_pat()">입원</a>
                </td>
            </tr>
            </tbody>
        </table>
    </td>
    <td id="Td2" style="width: 10px">
        &nbsp;</td>
    <td style="padding-right: 0cm; padding-left: 0cm; border-left-color: #ece9d8; border-bottom-color: #ece9d8;
            padding-bottom: 0cm; width: 300px; border-top-color: #ece9d8;
            padding-top:0px; background-color: transparent;
            border-right-color: #ece9d8; font-size: 9pt; left: 0px; position: relative; vertical-align: top;" id="Td1">
        <table width="100%"	height="70px" class="table" style="font-size:30px;">
            <td style="text-align:center;">
            <tr>   <td th:if="${dc_time}!=null"> 할인시간:<input type="text" name="num"  th:value="${dc_time}+'분'" class="input"
                                style="font-size: 60px; text-align: center; width: 276px; height: 66px; font-family: 'Nanum Gothic'; font-weight: bold; vertical-align: top; margin-bottom: 9px;margin-top:8px; letter-spacing: 2px; line-height:60px;"
                                maxlength="4"/></td></tr>
                <form name=# action="reg_car" method="POST">
                    차량번호 검색:
                    <input type="text" name="num" th:value="${carNum}" class="input"
                           style="font-size: 30px; text-align: center; width: 276px; height: 66px; font-family: 'Nanum Gothic'; font-weight: bold; vertical-align: top; margin-bottom: 9px;margin-top:8px; letter-spacing: 2px; line-height:60px;"
                           maxlength="4"/>
                    <input type="submit" value="검 색" style="height:66px; width:276px;">
                    <a th:href="@{/reg_car_confirm(id=${carNum})}"><p th:if="${carNum}!=null"> <p th:text="${carNum}" ></p></p></a>
                    <p th:text="${data}" ></p>
                </form>
            </td>
        </table>

        <table id="table_InCarList" width="276px"	height="260px" class="table classic" style="font-size:30px;">
            <thead>
            <th style="text-align:center;width='276px';height='50px';">
                입차목록
            </th>
            </thead>
            <tbody>
            </tbody>
        </table>
        <script data-jui="#table_InCarList" data-tpl="row" type="text/template">
            <tr>
                <td style="text-align:center;"><a onclick=viewedit('<!= VHiDx !>')><!= CarNumber !></a></td>
            </tr>
        </script>
        <table id="table_UpFile" width="276px" height="60px" class="table classic" style="margin-top:10px;font-size:30px;">
            <thead>
            <th style="text-align:center;width='276px';height='50px';">
                예약환자 차량등록
            </th>
            </thead>

        </table>
</table>
</td>
</table>
</div>
</body>
</html>