<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> admin page</h1>
<p th:text="${data}" ></p>
<!--                <img src='logo_dib.png' height="30px">-->
                    <ul style="width: 140px;">
                        <li value="1">할인차량</li>
                        <li value="4">할인부서</li>
                        <li value="5">그룹관리</li>
                    </ul>
                <div class="inline right">
                    <a href="/logout" class="btn small focus">로그아웃</a>
                </div>

<table width="100%"	height="70px" class="table" style="font-size:30px;">
    <form method ="POST" action = "discount_list">
<!--    <tr><td><span class="label" style="width:100%;">할인처</span></td><td><input name='ClId' id='eClName' type="type" class="input"/></td></tr>-->
    <tr><td><span class="label" style="width:100%;">담당자(아이디)</span></td><td><input name='ClId' id='eClUser' type="text" class="input" /></td></tr>
    <tr><td><span class="label" style="width:100%;">비밀번호</span></td><td><input name='ClPW' id='eClDC1' type="text" class="input" /></td></tr>
    <tr><td><span class="label" style="width:100%;">연락처</span></td><td><input name='ClTel' id='eClTel' type="type" class="input"/></td></tr>
    <tr><td><span class="label" style="width:100%;">할인1</span></td><td><input name='ClDC2' id='eClDC2' type="type" class="input"/></td></tr>
    <tr><td><span class="label" style="width:100%;">할인2</span></td><td><input name='ClDC3' id='eClDC3' type="text" class="input" /></td></tr>
    <tr><td><span class="label" style="width:100%;">할인3</span></td><td><input name='ClDC4' id='eClDC4' type="text" class="input" /></td></tr>
    <tr><td><span class="label" style="width:100%;">비고</span></td><td><input name='ClMemo' id='eClMemo' type="text" class="input" /></td></tr>
    <tr><td><span class="label" style="width:100%;">사용</span></td><td><input name='ClDCUse' id='eClDCUse' type="text" class="input" /></td></tr>
    <tr><td><input type ="submit" value = "회원가입"></td></tr>
    </form>

</table>
</body>
</html>